$title-color: #000000;
$btn-color: #ffffff;
$btn-bg-color: #000000;
$full-width: 100%;
$white: #ffffff;
$bottom-border: 4px solid #e4e4e4;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: $full-width;
  padding-bottom: 50px;
  border-bottom: $bottom-border;

  .hero__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: $full-width;
    padding: 8px;

    .hero__row__title {
      font-size: 1.6rem;
      font-weight: 700;
      color: $title-color;
    }

    .hero__row__btn {
      background-color: $btn-bg-color;
      color: $btn-color;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1rem;
      display: none;
      letter-spacing: 0.1em;
      cursor: pointer;
      // temp static values
      width: 257px;
      height: 47px;
      // temp static values

      @media screen and (min-width: 600px) {
        display: block;
      }
    }
  }

  .hero__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: $full-width;
    height: 100%;
    margin-top: 10px;
    position: relative;

    img {
      @media screen and (max-width: 600px) {
        width: 100%;
        height: 100%;
      }

      @media screen and (min-width: 600px) {
        width: 100%;
        height: 300px;
      }

      @media screen and (min-width: 1000px) {
        width: 960px;
        height: 400px;
      }

      @media screen and (min-width: 1280px) {
        width: 1220px;
        height: 500px;
      }

      @media screen and (min-width: 1400px) {
        width: 1420px;
        height: 100%;
      }
    }

    span {
      bottom: 0;
      left: 0;
      position: absolute;
      color: $title-color;
      font-weight: 700;
      font-size: 1rem;
      background-color: $white;
      padding: 15px 40px;

      @media screen and (min-width: 1000px) {
        left: 0.5rem;
      }
    }
  }

  .hero__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $full-width;
    padding: 8px;

    .hero__about__row {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: $full-width;
      padding: 8px;

      span {
        font-weight: 700;
        font-size: 1.2rem;

        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    .hero__about__info {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: $full-width;
      padding: 8px;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      .hero__about__info__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 30px;

        @media screen and (min-width: 1000px) {
          width: 50%;
        }

        @media screen and (min-width: 1280px) {
          width: 60%;
        }

        @media screen and (min-width: 1400px) {
          width: 66%;
        }

        span {
          font-weight: 700;
          font-size: 1rem;
          color: #656565;
          text-transform: capitalize;
        }

        p {
          font-size: 1rem;
          font-weight: 400;
          color: #656565;
          line-height: 1.5rem;
        }
      }

      .hero__about__info__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @media screen and (min-width: 1000px) {
          width: 50%;
        }

        @media screen and (min-width: 1280px) {
          width: 40%;
        }

        @media screen and (min-width: 1400px) {
          width: 34%;
        }

        .hero__about__info__right__grid {
          display: grid;
          justify-items: center;
          gap: 8px;
          width: $full-width;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
        }
      }
    }
  }

  .mobile__btn {
    margin-top: 15px;
    display: block;
    background-color: $btn-bg-color;
    color: $btn-color;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1em;
    cursor: pointer;
    width: 100%;
    height: 50px;

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  .desktop__line {
    display: none;

    @media screen and (min-width: 600px) {
      display: block;
    }
  }

  .mobile__line {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    color: $title-color;
    text-transform: capitalize;
    margin: 12.5px 0;

    @media screen and (min-width: 600px) {
      display: none;
    }
  }
}
